{% extends 'main/layout.html' %}

{% block title %}Вход в систему{% endblock %}

{% block content %}
<div class="features">

{% if next %}
  {% if user.is_authenticated %}
    <p>У вас нет доступа к данной странице. Для продолжения войдите под пользователем, имеющим доступ.</p>
  {% else %}
    <h2>Вход в аккаунт</h2>
  {% endif %}
{% endif %}
<br>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table class="table table-dark table-sm">

<tr>
  <td><h5>{{ form.username.label_tag }}</h5></td>
  <td><h5>{{ form.username }}</h5></td>
</tr>

<tr>
  <td><h5>{{ form.password.label_tag }}</h5></td>
  <td><h5>{{ form.password }}</h5></td>
</tr>
</table>

  {% if form.errors %}
     <p>Такое сочетание имя/пароль не зарегистрированы.</p>
     <br>
  {% endif %}

<button class="btn btn-success btn" type="submit">Войти</button>
<input type="hidden" name="next" value="{{ next }}" />


</form>

  <br>
  <p><a href="{% url 'signup' %}">Регистрация</a><span>&nbsp&nbsp&nbsp&nbsp</span> <a href="{% url 'password_reset' %}"> Забыли пароль?</a></p>

</div>
{% endblock %}

