{% extends 'main/layout.html' %}

{% block title %}Вход в систему{% endblock %}

{% block content %}
<div class="features">
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <h5>Введите адрес электронной почты вашей учетной записи</h5>
    <br>
    <p>{{ form.email }}</p>
    <br>
    <h5><button class="btn btn-success btn" type="submit">Отправить пароль</button></h5>
<!--    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />-->
</form>
</div>
{% endblock %}

