{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Добавление конституенты{% endblock %}

{% block content %}
    <div class="features">
        <h2>Добавление конституенты</h2>
        <form id="CreateConst" method="post" autocomplete="off">
            {% csrf_token %}
            <table >
<!--                style="border: 1px solid white"-->
                <tbody>
                <tr style="padding-left:5px; padding-right:5px; border: none">
                  <td width="10%" style="padding-left:5px; text-align: left">Конституента</td>
                  <td width="40%" style="padding-right:10px;">{{ form.cstType }} </td>
                  <td width="10%" style="padding-left:5px;" align="center">Идентификатор</td>
                  <td width="40%" style="padding-left:5px; text-align: left">{{ form.alias }}</td>
                </tr>
                <tr style="padding-left:5px; padding-right:5px; border: none">
                  <td width="10%" style="padding-left:5px; text-align: left">Термин</td>
                  <td colspan="3" width="90%" >{{ form.term_raw }} </td>
                </tr>
                <tr style="padding-left:5px; padding-right:5px; border: none">
                  <td width="10%" style="padding-left:5px; text-align: left">РС-определение</td>
                  <td width="40%" style="padding-right:10px;">{{ form.definition_formal }} </td>
                  <td colspan="2" width="50%" style="padding-left:10px;" align="center">
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('ℬ','inputSign');" type="button">ℬ</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('×','inputSign');" type="button">×</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∀','inputSign');" type="button">∀</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∃','inputSign');" type="button">∃</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('¬','inputSign');" type="button">¬</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∨','inputSign');" type="button">∨</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('&','inputSign');" type="button">&</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('⇒','inputSign');" type="button">⇒</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('⇔','inputSign');" type="button">⇔</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∅','inputSign');" type="button">∅</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('≠','inputSign');" type="button">≠</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∈','inputSign');" type="button">∈</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∉','inputSign');" type="button">∉</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('⊂','inputSign');" type="button">⊂</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('⊄','inputSign');" type="button">⊄</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('⊆','inputSign');" type="button">⊆</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∩','inputSign');" type="button">∩</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∪','inputSign');" type="button">∪</button>
                        <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∆','inputSign');" type="button">∆</button>
                  </td>
                </tr>
                <tr style="padding-left:5px; padding-right:5px; border: none">
                  <td width="10%" style="padding-left:5px; text-align: left">Текстовое определение</td>
                  <td colspan="3" width="90%" >{{ form.definition_text_raw }} </td>
                </tr>
                <tr style="padding-left:5px; padding-right:5px; border: none">
                  <td width="10%" style="padding-left:5px; text-align: left">Комментарий</td>
                  <td colspan="3" width="90%" >{{ form.convention }} </td>
                </tr>
              </tbody>
            </table>
            {{form.aliases}}<br>

<!--            {% csrf_token %}-->
<!--            {{ form.cstType }} {{ form.alias }}<br><br>-->
<!--            {{form.convention}}<br><br>-->
<!--            {{form.term_raw}}<br><br>-->
<!--            {{form.definition_formal}}-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('ℬ','inputSign');" type="button">ℬ</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('×','inputSign');" type="button">×</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∀','inputSign');" type="button">∀</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∃','inputSign');" type="button">∃</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('¬','inputSign');" type="button">¬</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∨','inputSign');" type="button">∨</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('&','inputSign');" type="button">&</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('⇒','inputSign');" type="button">⇒</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('⇔','inputSign');" type="button">⇔</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∅','inputSign');" type="button">∅</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('≠','inputSign');" type="button">≠</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∈','inputSign');" type="button">∈</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∉','inputSign');" type="button">∉</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('⊂','inputSign');" type="button">⊂</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('⊄','inputSign');" type="button">⊄</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('⊆','inputSign');" type="button">⊆</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∩','inputSign');" type="button">∩</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∪','inputSign');" type="button">∪</button>-->
<!--            <button class="btn btn-outline-light btn-sm" onClick="insertThisInThere('∆','inputSign');" type="button">∆</button>-->
<!--            <br><br>-->
<!--            {{form.definition_text_raw}}<br><br>-->
<!--            {{form.aliases}}-->

            <span>{{ error }}</span>
            <div id = "alias_error"></div>
<!--            <div id = "Ошибка!"></div>-->
            <br>
            <button class="btn btn-success btn-sm" type="submit">Сохранить</button>
            <a href="{{request.META.HTTP_REFERER}}" class = 'btn btn-light btn-sm'>Отмена</a><br>

        </form>
    <br />

    </div>
<script src="{% static 'main/js/main.js' %}" type="text/javascript"></script>
{% endblock %}
