{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Форма по добавлению записи{% endblock %}

{% block content %}
    <div class="features">
        <h2>Форма по добавлению записи</h2>
        <form id="CreateForm" method="post" autocomplete="off">
            {% csrf_token %}

            {{ form.schema }}<br>
            {{ form.name }} {{ form.type }}<br><br>
            <button onClick="insertThisInThere('ℬ','inputSign');" type="button">ℬ</button>
            <button onClick="insertThisInThere('×','inputSign');" type="button">×</button>
            <button onClick="insertThisInThere('∀','inputSign');" type="button">∀</button>
            <button onClick="insertThisInThere('∃','inputSign');" type="button">∃</button>
            <button onClick="insertThisInThere('¬','inputSign');" type="button">¬</button>
            <button onClick="insertThisInThere('∨','inputSign');" type="button">∨</button>
            <button onClick="insertThisInThere('&','inputSign');" type="button">&</button>
            <button onClick="insertThisInThere('⇒','inputSign');" type="button">⇒</button>
            <button onClick="insertThisInThere('⇔','inputSign');" type="button">⇔</button>
            <button onClick="insertThisInThere('∅','inputSign');" type="button">∅</button>
            <button onClick="insertThisInThere('≠','inputSign');" type="button">≠</button>
            <button onClick="insertThisInThere('∈','inputSign');" type="button">∈</button>
            <button onClick="insertThisInThere('∉','inputSign');" type="button">∉</button>
            <button onClick="insertThisInThere('⊂','inputSign');" type="button">⊂</button>
            <button onClick="insertThisInThere('⊄','inputSign');" type="button">⊄</button>
            <button onClick="insertThisInThere('⊆','inputSign');" type="button">⊆</button>
            <button onClick="insertThisInThere('∩','inputSign');" type="button">∩</button>
            <button onClick="insertThisInThere('∪','inputSign');" type="button">∪</button>
            <button onClick="insertThisInThere('∆','inputSign');" type="button">∆</button>
            <br><br>
            {{ form.rs_definition }}<br>
            {{ form.term }}<br>
            {{ form.text_definition }}<br>
            {{ form.result }}<br>
            <br>
            <span>{{ error }}</span>
            <div id = "error1"></div>
            <br>
            <button class="btn btn-success" type="submit">Рассчитать параметр</button>
            
        </form>
    <br />

    </div>
<script src="{% static 'main/js/main.js' %}" type="text/javascript"></script>
{% endblock %}
