{% extends 'main/layout.html' %}

{% block title %} {{ schema.name }} {% endblock %}

{% block content %}
    <div class="features">
        <h2>{{ schema.schema }}</h2>
        <p>{{ schema.name }}</p><br>

        {% if schema.json_file.items %}
            <table class="table table-dark table-sm" style="padding-left:5px; padding-right:5px;">
              <thead>
                <tr>
                  <th width="2%" scope="col">#</th>
                  <th width="13%" scope="col">Конституента</th>
                  <th width="4%" scope="col">ID</th>
                  <th width="20%" scope="col">Термин</th>
                  <th width="27%" scope="col">РС-определение</th>
                  <th width="7%" scope="col">Статус</th>
                  <th width="16%" scope="col">Типизация</th>
                  <th width="6%" scope="col">Просмотр</th>
                </tr>
              </thead>
        <tbody>
        </tbody>
            </table>
            {% for i in schema.json_file.items %}
              <table >
                <tbody>
                <tr style="word-break: break-all; padding-left:5px; padding-right:5px;">
                  <td width="2%" style="padding-left:5px; padding-right:5px;">{{ forloop.counter }}</td>
                  <td width="13%" style="padding-left:5px; padding-right:5px;"><strong>{{i.cstType}}</strong></td>
                  <td width="4%" style="padding-left:5px; padding-right:5px;">{{i.alias}}</td>
                  <td width="20%" style="padding-left:5px; padding-right:5px;">{{i.term.raw}}</td>
                  <td width="27%" style="padding-left:5px; padding-right:5px;">{{i.definition.formal}}</td>
                  <td width="7%" style="padding-left:5px; padding-right:5px;"><strong>{{i.parse.status}}</strong></td>
                  <td width="16%" style="padding-left:5px; padding-right:5px;"><strong>{{i.parse.typification}}</strong></td>
                  <td width="6%" style="word-break: normal; padding-left:5px;"><a href="{% url 'const-view' schema.id i.entityUID %}" class = 'btn btn-info btn-sm'>Просмотр</a></td>
                </tr>
              </tbody>
            </table>

            {% endfor %}
        {% else %}
            <p>Конституенты отсутствуют.</p>

        {% endif %}
        <br>
                <a href="{% url 'schema_export' schema.id %}" class = 'btn btn-warning btn-sm'>Выгрузить схему</a>
        <br>
    </div>

{% endblock %}
