{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Добавление схемы{% endblock %}

{% block content %}

    <div class="features">
        <h2>Добавление схемы</h2>
            <form id="CreateSchema" method="post" autocomplete="off">
                {% csrf_token %}
                <table>
                  <tr>
                    <td style="width:40%;">Наименование:</td>
                    <td>{{ form.schema }}</td>
                  </tr>
                    <br>
                  <tr>
                    <td style="width:40%">Краткое имя:</td>
                    <td>{{ form.alias }}</td>
                  </tr>
                  <tr>
                    <td style="width:40%">Схема будет доступна для просмотра всем пользователям? </td>
                    <td>{{ form.common }}</td>
                  </tr>
                </table>
                {{ form.name.as_hidden }}<br>

                <button class="btn btn-success btn-sm" type="submit">Сохранить</button>
                <a href="{% url 'exteor-schemas' %}" class = 'btn btn-light btn-sm'>Отмена</a><br>
            </form>
        <br>
        <br>
        <h3>Импорт схемы</h3><br>

        <form id="Upload_file" method="post" action={% url 'upload_success' %} enctype="multipart/form-data">
                {% csrf_token %}
                <center><table>
                  <tr>
                    <td width="40%">Импорт РС-формы КС из программы Exteor. Выберите json-файл: </td>
                    <td style="text-align: left;"><input type="file" id="file" name="file" accept=".trs"></td>
                  </tr>
                </table></center><br>
                <button class="btn btn-info btn-sm" type="submit" form="Upload_file">Импортировать</button><br>
            </form><br>

        {% if error %}
                <div class="error_text">{{ error }}</div><br><br>
        {% endif %}
        <br>

    </div>

{% endblock %}
