{% extends 'main/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="features">
        <h2>Инструментарий для работы с концептуальными схемами в родоструктурной форме <b>Web-exteor</b></h2>
<!--        <h3>Vizit counter: {{num_visits}}</h3>-->
        </br>
        <h5 align="justify" style="text-indent: 40px; font-weight: normal;">Данный сайт предназначен для работы с концептуальными схемами в родоструктурной форме и может быть использован при обучении и совместной исследовательской работе.
            На данные момент функционал позволяет создавать и редактировать родоструктурные формы концептуальных схем, загружать РС-формы КС из специализированного ПО Экстеор,
            создавать и редактировать конституенты, проверять их статус и типизацию, предоставлять доступ к личным концептуальным схемам другим пользователям и др.
        </h5>
        <h5 align="justify" style="text-indent: 40px; font-weight: normal;">Сайт будет полезен для лиц, осваивающих математический аппарат языка родов структур, студентов высших учебных заведений,
            учащихся и других заинтересованных пользователей.
        </h5>
<!--        <button class="btn btn-warning">На страницу про нас</button>-->
<!--        {% for i in values %}-->
<!--            {% if i == 'hello' %}-->

<!--                    <p> {{i|upper}} </p>-->

<!--            {%endif%}-->
<!--        {% endfor %}-->
<!--        {% for i in obj%}-->
<!--            <p>  {{i}} </p>-->
<!--        {% endfor %}-->
    </div>
{% endblock %}