{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
    <link rel="shortcut icon" href="{%  static 'main/img/favicon.ico' %}">
</head>
<body>
    <div class = even_h>
        <aside>
        <img src="{% static 'main/img/ext_logo.png' %}" alt="Logo">
        <span class="logo">Web-exteor</span>
<!--        <h3>Навигация</h3>-->
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-address-card"></i> Справочник</li></a>
            {% if user.is_authenticated %}
            <a href="{% url 'exteor-schemas' %}"><li><i class="fas fa-paper-plane"></i> Мои схемы </li></a>
            {% endif %}
            <a href="{% url 'exteor-schemas-common' %}"><li><i class="fas fa-paper-plane"></i> Общие схемы </li></a>

            {% if user.is_authenticated %}
                <a href="{% url 'schema-create' %}"><li><button class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить схему</button></li></a>
                <li><i class="fa-sharp fa-solid fa-user"></i> {{ user.get_username }}</li>
                <li><a href="{% url 'logout'%}?next={{request.path}}"><i class="fa-sharp fa-solid fa-circle-xmark"></i> Выход</a></li>
            {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}"><i class="fa-sharp fa-solid fa-play"></i> Войти</a></li>
            {% endif %}
        </ul>
        </aside>

        <main>
        {% block content %}
        {% endblock %}
        </main>
    </div>


</body>
</html>